#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.playground {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: row;
  flex: 1 0 400px;
}

.footer {
  flex: 0 0 20px;
  font-size: 10px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
}

.code {
  flex: 3 1 200px;
  height: calc(100vh - 60px);
  width: 100%;
  overflow: auto;
}

.result {
  flex: 1 1 200px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.cm-editor {
  height: calc(100vh - 70px);
}

input {
  width: 40px;
  margin: 0 8px;
}
